body {
	background: #555;
	text-align: center;
	font-family: sans-serif;
	line-height: 0;
}

#gameframe {
	margin: 0;
}

#ui {
	width: 1280px;
	height: 80px;
	background: #333;
	margin: auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1em;
	color: white;
}

.menu-window {
	position: absolute;
	left: 0;
	top: -640px;
	background: rgba(0,0,0,.8);
	width: 1280px;
	height: 640px;
	color: white;
	overflow: auto;
}

.headline {
	margin: 10px;
	display: flex;
	text-align: left;
	font-size: 18px;
	line-height: 40px;
	padding-left: 20px;
}

.headline > span {
	font-variant: small-caps;
	flex-grow: 1;
}

.items {

}

.item {
	display: inline-block;
	margin: 0 5px;
}

.building {
	cursor: pointer;
	display: inline-block;
	margin: 10px;
	width: 200px;
	padding: 10px;
	background: rgba(0,0,0,.3);
	text-align: left;
	border-radius: 4px;
}

.preview {
	background-position: center;
	background-repeat: no-repeat;
	height: 60px;
	width: 200px;
	border: 1px solid #111;
	box-shadow: black 1px 1px 1px;
	background-color: #222222;
	border-radius: 4px;
	display: inline-block;
}

.building > .description {
	font-size: 12px;
	margin: 6px 2px;
}

.building > .title {
	margin: 6px 2px;
}

.construction-info {
}

.construction-info > * {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
	max-width: 200px;
}

.construction-info .title {

}

.inventory > fieldset {
	margin: 5px 30px;
}

fieldset {
	padding: 4px;
	line-height: 13px;
	text-align: center;
}

legend {
	font-size: 12px;
}

button {
	display: inline-block;
	padding: 0.9em 1.4em;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.15em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	color: #FFFFFF;
	background-color: #444;
	box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
	text-align: center;
	position: relative;
	border: none;
	width: 120px;
	font-variant: small-caps;
	cursor: pointer;
}

button:hover {
	background-color: #222;
	box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.3);
}

button.danger {
	background-color: #300;
	box-shadow: inset 0 -0.6em 0 -0.35em rgba(80, 0, 0, 0.2);
}

button.danger:hover {
	background-color: #411;
	box-shadow: inset 0 -0.6em 0 -0.35em rgba(70, 0, 0, 0.4);
}

button:active {
	top: 0.1em;
}
